apiVersion: v1
kind: Service
metadata:
  name: demo-app-service
  namespace: gitops-demo
spec:
  selector:
    app: demo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP